/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #150e28;
  color: white;
}

/* Header styles */
.header {
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  margin: 35px 0 20px 0;
  justify-content: space-between;
}

.header-right {
  display: none;
  align-items: center;
}

/* Styling for text within <span> tags */
span {
  color: #d434fe;
}

/* Header navigation styles */
.header ul {
  list-style: none;
  display: flex;
}

.header ul li a {
  text-decoration: none;
  color: white;
  padding: 25px;
  transition: color 0.3s ease;
}

.header ul li a:hover {
  color: transparent;
  background-image: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
  -webkit-background-clip: text;
  background-clip: text;
}

.header .aside {
  display: block;
  position: fixed;
  width: 230px;
  height: 100vh;
  background-color: #150e28;
  z-index: 1000;
  box-shadow: 0.5px 0.5px 4px 2px rgba(222, 222, 222, 0.2);
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.5s, visibility 0.5s;
  will-change: transform, visibility;
  touch-action: auto;
  right: 0;
  top: 0;
}

.header .aside.show-aside {
  transform: translateX(0);
  visibility: visible;
  transform: transform 0.5s 0s, visibility 0s 0s;
}

.header .aside .close-aside {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  color: black;
  transition: 200ms ease;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
    left: 11rem;
  top: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.icon-x {
    border: 2px solid transparent;
    border-image: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
    border-image-slice: 1;
}

.header .aside .close-aside:hover {
  background-color: black;
  color: white;
}

.header .aside ul {
  position: relative;
  top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.header .aside ul li {
  padding: 12px;
}

.header .aside ul li a {
  color: white;
  text-decoration: none;
}

.header .aside ul li a:hover {
  color: #d2d200;
}

.header .aside ul li a:active {
  color: #d2d200;
}

.header .aside ul li a:focus {
  color: #d2d200;
}

/* Styling for separate button/link */
.separate {
  padding: 16px 59px;
  margin-left: 50px;
  border: 2px solid transparent;
  border-image: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
  border-image-slice: 1;
  border-radius: 1rem;
  text-decoration: none;
  background: transparent;
  transition: color 0.3s ease;
}

.separate:hover {
  background: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
}

.mobile-separate {
    padding: 16px 49px;
    margin: 0 0 0 50px;
    position: relative;
    top: 4rem;
    left: -1rem;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(270deg, #903aff, #d434fe, #ff26b9, #fe34b9);
    transition: 0.3s ease;
    color: white;
}

.mobile-separate:hover {
    background: #d434fe;
}

.separate button {
  background-color: transparent;
  border: none;
  color: white;
}

/* Next section styles */
.next {
  text-align: right;
  margin-right: 100px;
  font-size: 22px;
}


/* Styling for the white star image */
.white-star {
  margin-left: 110px;
}

/* FFF section styles */
.fff {
  margin-left: 80px;
  font-size: 35px;
  display: flex;
  margin-bottom: -51.5px;
}

/* Bulb image styles */
.bulb {
  width: 40px;
  margin-bottom: -80px;
  margin-left: 375px;
}

/* Fire image styles */
.fire {
  position: absolute;
  width: 30px;
  left: 600px;
  top: 380px;
}

/* Styling for the figure image within FFF section */
.fff figure img {
  width: 681px;
  opacity: 0.7;
}

/* Light image styles */
.light {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 120px;
  top: 270px;
}

/* Section 1 styles */
.section1 {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

/* Section 1 info styles */
.section-info1 {
  margin-top: 40px;
}

.section-info1 p {
  font-size: 15px;
}

/* Styling for star images in Section 1 */
.star1 {
  position: relative;
  top: 150px;
  left: 70px;
  width: 20px;
  height: 30px;
}

.star {
  position: relative;
  top: 70px;
  left: -200px;
  width: 20px;
  height: 30px;
}

/* Arrow image styles */
.arrow {
  position: relative;
  top: 360px;
  left: -720px;
  width: 50px;
  height: 50px;
}

/* Section 2 styles */
.section2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -20px;
}

/* Section 2 info styles */
.section-info2 {
  margin-top: 100px;
}

.section-info2 p {
  font-size: 15px;
}

/* Chair image styles */
.chair {
  margin-top: -40px;
}

/* Section 3 styles */
.section3 {
  display: flex;
  margin-bottom: 100px;
}

/* Section 3 info styles */
.section-info3 {
  margin-top: 50px;
}

/* Styling for people image in Section 3 */
.people {
  margin-top: 100px;
}

.section-info3 p {
  font-size: 15px;
}

/* Read more link styles */
.read {
  margin-top: 70px;
}

/* Section 4 styles */
.section4 {
  display: flex;
  justify-content: space-evenly;
}

/* Section 4 info styles */
.section-info4 {
  margin-top: 90px;
}

.section-info4 p {
  font-size: 15px;
}

/* Styling for the man image in Section 4 */
.man {
  margin-top: 80px;
}
