html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #150E28;
    color: white;
    font-family: montserrat;
}
.header{
    color:white;
   display: flex;
   
   align-items: center;
   margin-top: 25px;

}
span{
       color:#D434FE;
   }
.header ul{
       list-style: none;
       display: flex;
       margin-left: 400px;
   
}
   .header ul li a{
       text-decoration: none;
       color: white;
       padding: 25px;
}
.separate{
       background-color: #903AFF; 
       padding-left: 45px;
       padding-right: 45px;
       padding-top: 15px;
       padding-bottom: 15px;
       border-radius: 3px;
       margin-left: 100px;
}
.separate a{
       text-decoration: none;
       color:white;
}
.next{
    text-align: right;
    margin-right: 100px;
    font-size: 22px;
}
p{
    font-size: 20px;
}
.white-star{
    margin-left:110px;
}
.fff{
    margin-left:80px;
    font-size: 35px;
    display: flex;
    margin-bottom: -51.5px;
}
.bulb{
    width:40px;
    margin-bottom: -80px;
    margin-left: 375px;
}
.fire{
    position: absolute;
    width: 30px;
    left:600px;
    top:380px;
}
.fff figure img{
    width:681px;
    opacity: 0.7;
}
.light{
    height: 500px;
    width: 500px;
    position: absolute;
    right:120px;
    top:270px

}
.section1{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.section-info1{
    margin-top: 40px;
}
.section-info1 p {
    font-size: 18px;
}
.section1 figure img{
    width:400px;
}
.star1{
    position: relative;
    top:150px;
    left:70px;
    width: 20px;
    height:30px
   
}
.star{
    position: relative;
    top: 70px;
    left:-200px;
    width: 20px;
    height:30px
}
.arrow{
    position: relative;
    top: 360px;
    left:-720px;
    width: 50px;
    height:50px;
    
}
.section2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -20px;

}
.section-info2{
    margin-top: 100px;
    margin-left: 70px;
}
.section-info2 p{
    font-size: 18px;
}
.chair{
    margin-top: -40px;
}
.section3{
    display:flex;
    margin-bottom: 100px;
}
.section-info3{
    margin-top: 50px;
}
.people{
    margin-top: 100px;
    margin-left: 60px;
    width:670px
    
}
.section-info3 p{
    font-size: 18px;

}
.read{
    margin-top: 70px;
}
.section4{
    display: flex;
    justify-content: space-evenly;
}
.section-info4{
    margin-top: 90px;
}
.section-info4 p{
    font-size: 18px;
}
.man{
    margin-top: 80px;
}
.plus{
   position: absolute;
   left: 420px;
}